name: Deploy HTML Website to EC2

on:
  push:
    branches:
      - main     # main branch पर push होने पर deploy
  workflow_dispatch:  # Manual run button enable करेगा

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: easingthemes/ssh-deploy@v2.1.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_HOST }}
          REMOTE_USER: ${{ secrets.EC2_USER }}
          TARGET: ${{ secrets.EC2_PATH }}
          SOURCE: .
          ARGS: "-rltgoDzvO --delete"
